*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.09em;
    margin: 0;
    padding: 0;
    background: none;
}

body{
    display: flex;
    background-color: #f0ce4e;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.C_Body{
    display: grid;
    margin: 50px;
    padding: 15px;
    width: 300px;
    height: 80vh;
    background-color: #a6ad3c;
    border-radius: 25px;
    justify-items: center;

    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 20vh repeat(5, 75px);

    box-shadow: 5px 5px 10px 3px #00000044
}

.C_Display{
    width: 80%;
    height: 15vh;
    background-color: #f0ce4e80;
    border: #a6ad3c solid 1px;
    border-radius: 25px;
    justify-content: space-between;
    box-shadow: 5px 5px 10px 2px #00000049, -2px -2px 10px 2px #00000049;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-self: center;
    padding-right: 15px;
    margin: 10px;
    grid-column: 1 / -1;
}

button{
    border: none;
    background-color: #a6ad3c;
    box-shadow: 5px 5px 10px -3px #00000044, -3px -3px 15px 2px #00000044;
    width: 60px;
    height: 75%;
    border-radius: 50px;
}

button:hover{
    background-color: #868f23;
}

button:focus{
    outline: none;
}

button:active{
    background-color: #737a1e;
}

.C_Double{
    grid-row: span 2;
}

.C_Double button{
    height: 85%;
}